#loginContainer {
  background-color: $color3;
  border: $border-width solid $color2;
  border-radius: $border-radius;
  width: $login-width;
  padding: $login-padding;
  margin-left: calc( (#{$login-width} - #{$login-padding} - #{$border-width } )/2 );
  margin-top: $login-margin;
}
